#lightbox{
	background-color:#eee;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
	}
#lightboxDetails{
	font-size: 0.8em;
	padding-top: 0.4em;
	}	
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }
#closeButton{ top: 5px; right: 5px; }

#lightbox img{ border: none; clear: both;} 
#overlay img{ border: none; }

#overlay{ 
background: -moz-linear-gradient(-45deg,  rgba(76,160,65,1) 0%, rgba(84,163,62,0.77) 6%, rgba(142,185,42,0.76) 50%, rgba(159,91,123,0.75) 82%, rgba(168,38,168,1) 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(76,160,65,1)), color-stop(6%,rgba(84,163,62,0.77)), color-stop(50%,rgba(142,185,42,0.76)), color-stop(82%,rgba(159,91,123,0.75)), color-stop(100%,rgba(168,38,168,1)));
background: -webkit-linear-gradient(-45deg,  rgba(76,160,65,1) 0%,rgba(84,163,62,0.77) 6%,rgba(142,185,42,0.76) 50%,rgba(159,91,123,0.75) 82%,rgba(168,38,168,1) 100%);
background: -o-linear-gradient(-45deg,  rgba(76,160,65,1) 0%,rgba(84,163,62,0.77) 6%,rgba(142,185,42,0.76) 50%,rgba(159,91,123,0.75) 82%,rgba(168,38,168,1) 100%);
background: -ms-linear-gradient(-45deg,  rgba(76,160,65,1) 0%,rgba(84,163,62,0.77) 6%,rgba(142,185,42,0.76) 50%,rgba(159,91,123,0.75) 82%,rgba(168,38,168,1) 100%);
background: linear-gradient(135deg,  rgba(76,160,65,1) 0%,rgba(84,163,62,0.77) 6%,rgba(142,185,42,0.76) 50%,rgba(159,91,123,0.75) 82%,rgba(168,38,168,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ca041', endColorstr='#a826a8',GradientType=1 );

 }

* html #overlay{
background: rgb(191,210,85);
background: -moz-linear-gradient(-45deg,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(191,210,85,1)), color-stop(50%,rgba(142,185,42,1)), color-stop(51%,rgba(114,170,0,1)), color-stop(100%,rgba(158,203,45,1)));
background: -webkit-linear-gradient(-45deg,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
background: -o-linear-gradient(-45deg,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
background: -ms-linear-gradient(-45deg,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
background: linear-gradient(135deg,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=1 );

	}
	