body {
    margin: 0;
    padding: 0;
    background: rgb(33, 10, 30);
    background: -moz-linear-gradient(left, rgba(93, 29, 96, 1) 0%, rgba(40, 71, 19, 1) 45%, rgba(20, 28, 6, 1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(33, 10, 30, 1)), color-stop(45%, rgba(40, 71, 19, 1)), color-stop(100%, rgba(20, 28, 6, 1)));
    background: -webkit-linear-gradient(left, rgba(33, 10, 30, 1) 0%, rgba(40, 71, 19, 1) 45%, rgba(20, 28, 6, 1) 100%);
    background: -o-linear-gradient(left, rgba(33, 10, 30, 1) 0%, rgba(40, 71, 19, 1) 45%, rgba(20, 28, 6, 1) 100%);
    background: -ms-linear-gradient(left, rgba(33, 10, 30, 1) 0%, rgba(40, 71, 19, 1) 45%, rgba(20, 28, 6, 1) 100%);
    background: linear-gradient(to right, rgba(33, 10, 30, 1) 0%, rgba(40, 71, 19, 1) 45%, rgba(20, 28, 6, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#210a1e', endColorstr='#141c06', GradientType=1);
    color: #eaeaea;
    font: 16px;
    line-height: 1.5;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}
/* General & 'Reset' Stuff */

.container {
    width: 100%;
}
#animationContainer {
    width: 100%;
}
#menu {
    -moz-box-shadow: 0 0 5px 5px #ADFF2F;
    -webkit-box-shadow: 0 0 5px 5px #ADFF2F;
    box-shadow: 0 0 5px 5px #ADFF2F;
    width: auto;
    max-width: 60%;
    margin-left: 20%;
    height: 85px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 2px;
    text-shadow: 1px 1px 1px #FF0000;
    border: 1px thin;
    border-radius: 30px;
    border-color: transparent;
    background: rgb(51, 114, 47);
    background: -moz-linear-gradient(-45deg, rgba(51, 114, 47, 1) 14%, rgba(38, 31, 135, 1) 25%, rgba(38, 94, 47, 1) 58%, rgba(181, 191, 43, 1) 71%, rgba(59, 142, 58, 1) 80%, rgba(46, 42, 183, 1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(14%, rgba(51, 114, 47, 1)), color-stop(25%, rgba(38, 31, 135, 1)), color-stop(58%, rgba(38, 94, 47, 1)), color-stop(71%, rgba(181, 191, 43, 1)), color-stop(80%, rgba(59, 142, 58, 1)), color-stop(100%, rgba(46, 42, 183, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(51, 114, 47, 1) 14%, rgba(38, 31, 135, 1) 25%, rgba(38, 94, 47, 1) 58%, rgba(181, 191, 43, 1) 71%, rgba(59, 142, 58, 1) 80%, rgba(46, 42, 183, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(51, 114, 47, 1) 14%, rgba(38, 31, 135, 1) 25%, rgba(38, 94, 47, 1) 58%, rgba(181, 191, 43, 1) 71%, rgba(59, 142, 58, 1) 80%, rgba(46, 42, 183, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(51, 114, 47, 1) 14%, rgba(38, 31, 135, 1) 25%, rgba(38, 94, 47, 1) 58%, rgba(181, 191, 43, 1) 71%, rgba(59, 142, 58, 1) 80%, rgba(46, 42, 183, 1) 100%);
    background: linear-gradient(135deg, rgba(51, 114, 47, 1) 14%, rgba(38, 31, 135, 1) 25%, rgba(38, 94, 47, 1) 58%, rgba(181, 191, 43, 1) 71%, rgba(59, 142, 58, 1) 80%, rgba(46, 42, 183, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#33722f', endColorstr='#2e2ab7', GradientType=1);
}
#showContent {
    width: auto;
    /* max-width: 600px; 
  margin: 0 auto;  */
    padding-left: 25%;
    max-width: 50%;
}
#showContent img {
    border: 2px solid;
    border-radius: 30px;
    border-color: transparent;
    max-width: 50%;
}
.submenu {
    padding: 0;
    position: absolute;
    top: 48px;
    left: 80px;
    width: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
    transition-property: visibility;
    transition-duration: 5s;
    transition-delay: 2s;
}
#onTopImg:hover {
    animation: bounceit 3s infinite linear;
    -webkit-filter: brightness(200%);
    filter: brightness(200%);
}
#scroller {
    position: absolute;
    float: left;
    height: 100%;
    /* border: 2px solid; */
}
#top {
    position: absolute;
    bottom: 20px;
    margin-left: 2%;
    float:bottom;
}
#toc {
    left: 2%;
}
#toc ul li a {
    /*list-style: none; */
    /* list-style-type: none; */
    /* padding:0;
    margin:0;*/
    color: green;
    width: auto;
    max-width: 10%;
}
#toc ul li a:hover {
    /*list-style: none; */
    /* list-style-type: none; */
    /* padding:0;
    margin:0;*/
    color: blue;
    /* animation: bounceit 1s infinite linear; */
}
#toc ul li:hover {
    /*list-style: none; */
    /* list-style-type: none; */
    /* padding:0;
    margin:0;*/
    color: blue;
    animation: bounceit 3s infinite linear;
}
#toc ul li:before {
    content: "";
}
.submenu li {
    display: block;
    margin-top: 2px;
    padding-left: 50px;
    margin-left: 30px;
    text-shadow: 0 -1px 0 #000;
}
.dropdowncontainer {
    font: bold 12px/18px sans-serif;
    display: inline-block;
    position: relative;
    /* padding: 5px 50px; */
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
    z-index: 555;
    transition-property: display;
    transition-duration: 5s;
    transition-delay: 2s;
}
.dropdowncontainer:hover > .submenu {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    /* animation: bounceit 1s; */
    transition: all 2s;
    transition-delay: 2s;
}
.submenu:hover > .submenu {
    display: block !important;
    opacity: 1 !important;
    visibility: visible!important;
    animation: bounceit 1s;
    transition: all 2s;
    transition-delay: 2s;
}
@keyframes bounceit {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(.8);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}
.dropdowncontainer:before {
    content: "";
    display: inline-block;
    /* margin-left: -25px; */
    padding-left: 20px;
    padding-right: 2px;
    /*line-height: 16px; */
}
.dropdowncontainer:hover > .submenu li:before {
    opacity: 1;
    content: "";
}
#aboutImg {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 10+, Firefox on Android */
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    /* IE 6-9 */
    z-index: 444;
    width: 213px;
    max-width: 800px;
    height: 160px;
    transition: width 2s, height 2s, transform 2s, effect 4s;
}
#aboutImg:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
    cursor: pointer;
    animation: bounceImage 6s infinite linear;
}
@keyframes bounceImage {
    0% {
        initial;
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        initial;
    }
    75% {
        transform: rotate(-10deg);
    }
}
#menucontent {} section {
    display: block;
    margin: 0 0 20px 0;
}
li {
    line-height: 1.4;
}
/* Header, <header>
   header   - container
   h1       - project name
   h2       - project description
*/

header {
    width: 100%;
    padding: 20px 0;
    margin: 0 0 40px 0;
}
header h1 {
    font-size: 25px;
    line-height: 1.5;
    /* margin: 0 0 0 -40px; */
    font-weight: bold;
    margin-left: 5px;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: #b5e853;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1);
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
}
header h2 {
    font-size: 18px;
    font-weight: 300;
    color: #666;
}
#downloads .btn {
    display: inline-block;
    text-align: center;
    margin: 0;
}
/* Main Content
*/

#main_content {
    width: 100%;
    -webkit-font-smoothing: antialiased;
}
section img {
    max-width: 100%
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: #b5e853;
    letter-spacing: -0.03em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1);
}
#main_content h1 {
    font-size: 30px;
}
#main_content h2 {
    font-size: 24px;
}
#main_content h3 {
    font-size: 18px;
}
#main_content h4 {
    font-size: 14px;
}
#main_content h5 {
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}
#main_content h6 {
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
    margin: 0 0 5px 0;
}
dt {
    font-style: italic;
    font-weight: bold;
}
ul li {
    list-style: none;
}
ul li:before {
    content: ">>";
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 13px;
    color: #b5e853;
    margin-left: -37px;
    margin-right: 21px;
    line-height: 16px;
}
.arrowStyle {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 13px;
    color: #b5e853;
    margin-left: -37px;
    margin-right: 21px;
    line-height: 16px;
}
blockquote {
    color: #aaa;
    padding-left: 10px;
    border-left: 1px dotted #666;
}
pre {
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 10px;
    font-size: 14px;
    color: #b5e853;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    text-wrap: normal;
    overflow: auto;
    overflow-y: hidden;
}
table {
    width: 100%;
    margin: 0 0 20px 0;
}
th {
    text-align: left;
    border-bottom: 1px dashed #b5e853;
    padding: 5px 10px;
}
td {
    padding: 5px 10px;
}
hr {
    height: 0;
    border: 0;
    border-bottom: 1px dashed #b5e853;
    color: #b5e853;
}
/* Buttons
*/

.btn {
    display: inline-block;
    background: -moz-linear-gradient(-45deg, rgba(93, 29, 96, 1) 0%, rgba(23, 25, 147, 0.8) 41%, rgba(34, 23, 139, 0.77) 47%, rgba(74, 17, 109, 0.87) 69%, rgba(54, 96, 52, 0.91) 78%, rgba(54, 96, 52, 1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(93, 29, 96, 1)), color-stop(41%, rgba(23, 25, 147, 0.8)), color-stop(47%, rgba(34, 23, 139, 0.77)), color-stop(69%, rgba(74, 17, 109, 0.87)), color-stop(78%, rgba(54, 96, 52, 0.91)), color-stop(100%, rgba(54, 96, 52, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(93, 29, 96, 1) 0%, rgba(23, 25, 147, 0.8) 41%, rgba(34, 23, 139, 0.77) 47%, rgba(74, 17, 109, 0.87) 69%, rgba(54, 96, 52, 0.91) 78%, rgba(54, 96, 52, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(93, 29, 96, 1) 0%, rgba(23, 25, 147, 0.8) 41%, rgba(34, 23, 139, 0.77) 47%, rgba(74, 17, 109, 0.87) 69%, rgba(54, 96, 52, 0.91) 78%, rgba(54, 96, 52, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(93, 29, 96, 1) 0%, rgba(23, 25, 147, 0.8) 41%, rgba(34, 23, 139, 0.77) 47%, rgba(74, 17, 109, 0.87) 69%, rgba(54, 96, 52, 0.91) 78%, rgba(54, 96, 52, 1) 100%);
    background: linear-gradient(135deg, rgba(93, 29, 96, 1) 0%, rgba(23, 25, 147, 0.8) 41%, rgba(34, 23, 139, 0.77) 47%, rgba(74, 17, 109, 0.87) 69%, rgba(54, 96, 52, 0.91) 78%, rgba(54, 96, 52, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#5d1d60', endColorstr='#366034', GradientType=1);
    padding: 8px 12px;
    margin-left: 6px;
    border-radius: 50px;
    border: 2px solid transparent;
    color: rgba(255, 255, 255, 0.8);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}
.btn:hover {
    background: #229114;
    background: -moz-linear-gradient(45deg, #229114 0%, #00c600 17%, #322170 33%, #008a00 67%, #005700 83%, #002400 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #229114), color-stop(17%, #00c600), color-stop(33%, #322170), color-stop(67%, #008a00), color-stop(83%, #005700), color-stop(100%, #002400));
    background: -webkit-linear-gradient(45deg, #229114 0%, #00c600 17%, #322170 33%, #008a00 67%, #005700 83%, #002400 100%);
    background: -o-linear-gradient(45deg, #229114 0%, #00c600 17%, #322170 33%, #008a00 67%, #005700 83%, #002400 100%);
    background: -ms-linear-gradient(45deg, #229114 0%, #00c600 17%, #322170 33%, #008a00 67%, #005700 83%, #002400 100%);
    background: linear-gradient(45deg, #229114 0%, #00c600 17%, #322170 33%, #008a00 67%, #005700 83%, #002400 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#229114', endColorstr='#002400', GradientType=1);
    border-color: green;
}
.btn .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 1px 8px 0 0;
    float: left;
}
/* Links
   a, a:hover, a:visited
*/

a {
    color: #63c0f5;
    text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}
/* Clearfix */

.cf:before,
.cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    zoom: 1;
}
# individual tooltips a.tooltip {
    position: relative;
    display: inline;
}
a.tooltip:after {
    display: block;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 25%;
    opacity: 0;
    content: attr(data-tool);
    /* might also use attr(title) */
    height: auto;
    /* min-width: 100px; */
    max-width: 100%;
    padding: 5px 8px;
    z-index: 999;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: : 60px;
    background: rgba(0, 0, 0, 0.85);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: 3s slide;
}
a.tooltip:hover:after {
    visibility: visible;
    opacity: 1;
    top: 135px;
}
a.tooltip:hover:before {
    visibility: visible;
    opacity: 1;
    top: 54px;
}